
  <h1 class="text-center">
    <% if @city.nil? %>
      Suche nach einem Role Model in deiner Stadt!
    <% else %>
      <%= @city %> Role Models
    <% end %>
  </h1>

  <% if @city.nil? %>
    <div class="row selection">
      <div class="selectionBtn">
        <%= link_to "Zeige mir Role Models in Berlin",
                    users_path(city: "Berlin"),
                    class: "btn submit"
        %>
      </div>

      <div class="selectionBtn">
        <%= link_to "Zeige mir Role Models in Hamburg",
                    users_path(city: "Hamburg"),
                    class: "btn submit"
        %>
      </div>

  <% end %>
  <div class="users">
    <% @users.each do |user| %>
      <div class="user">
        <%= link_to user_path(user) do %>
          <%= image_tag(user.image_url, class: "profile", alt: user.name) %>
        <% end %>
        <p><%= link_to user_path(user) do %><%=user.name %><% end %></p>
        <%= content_tag :p, user.job %>
        <%= content_tag :p, user.city %>
        <%= link_to user_path(user), :class=>"more" do %>Mehr Infos<% end %>
      </div>
    <% end %>
  </div>
</div>
