<div class="container col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center">Über uns</h1>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <p>
      „Rent a Role Model“ verbindet LehrerInnen mit weiblichen Vorbildern aus der IT-Branche. Lehrerinnen ohne Netzwerk in der IT-Branche finden hier Frauen, die gerne an Schulen über ihren Berufsalltag erzählen würden. Die Role Models sollen Schüler und Schülerinnen zu einer Karriere in der IT inspirieren. Die Vorbilder sind weiblich, um vor allen den Mädchen die Angst vor technischen Berufen zu nehmen.
  </p>

    <p>
    Die Idee für „Rent a Role Model” stammt von <%= link_to "Birte Goldt", "https://twitter.com/birtona" %>. Im Rahmen des Berlin Geekettes All Women-Hackathon im Oktober 2013 haben wir – <%= link_to "Debora Blass", "https://twitter.com/bumbledebee" %>, <%= link_to "Bettina Shzu-Juraschek", "https://twitter.com/ThatBettina" %>, <%= link_to "Joan Wolkerstorfer", "https://twitter.com/joanwolk" %>, und <%= link_to "Kathrin Kaufmann", "https://twitter.com/kommanderkat" %> – gemeinsam mit Birte die vorliegende Alpha-Version umgesetzt.
    </p>

    <p>
    Wer Interesse hat, an der Weiterentwicklung von „Rent a Role Model” mitzuarbeiten, findet uns <%= link_to "auf Github", "https://github.com/birtona/rent-a-role-model" %>.
    </p>

    </p>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <%= image_tag "https://pbs.twimg.com/media/BWZ6WuoCUAEIzhr.jpg", class: "outline" %>
  </div>
</div>
