<div class="container col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center home" >Zusätzliche Angaben zu Dir, die in deinem Profil erscheinen sollen</h1>

  <div class="row">

    <%= form_for [@user, @info], url: admin_user_user_information_path(@user) do |f| %>
      <div>
        <%= f.label :why, "Warum möchtest Du ein Role Model sein?" %>
        <%= f.text_area :why %>
      </div>
      <div>
        <%= f.label :past, "Hast Du bereits an ähnlichen Projekten teilgenommen? An welchen Schule, auf welchen Events hast du bereits als Role Model gesprochen?" %>
        <%= f.text_area :past %>
      </div>
      <div>
        <%= f.label :projects, "Hast Du bereits an einem Projekt gearbeitet?" %>
        <%= f.text_area :projects %>
      </div>
      <div>
        <%= f.label :places, "Wo würdest du für ein Role Model Projekt hinreisen?" %>
        <%= f.text_area :places %>
      </div>
      <div><%= f.submit %></div>
    <% end %>

  </div>
</div>