<div class="container col-md-12 col-sm-12 col-xs-12">
  <h1 class="text-center">Role Model per E-Mail anschreiben</h1>
  <p>Mit untenstehendem Formular kannst du eine E-Mail an das von dir ausgewählte Role Model schreiben und sie z.B. als Referentin für eine Berufsinformationsveranstaltung anfragen. Bitte gib auf jeden Fall deine richtige E-Mailadresse an, damit du eine Antwort bekommmen kannst und beschreibe dem Role Model möglichst genau, um was für eine Veranstaltung es sich handelt (welche Schule, Stufe, Format, Datum etc.).</p>

  <%= form_tag(user_contact_forms_path(user_id: @user.id), method: "post") do %>
    <% if !flash.empty? %>
      <div id="flash"  style="color: #FF0000"> 
          <% flash.keys.each do |k| %> 
              <div class="<%= k %>">
                  <%= flash[k] %><br />
              </div>  
          <% end %>   
      </div>
    <% end %>
     <div>
      <%= label_tag :name, "Dein Name" %>
      <br/>
      <%= text_field_tag :name%>
    </div>
      <br/>
      <div>
        <%= label_tag :school, "Deine Schule" %><br/>
        <%= text_field_tag :school%>
      </div>
      <br/>
      <div>
        <%= label_tag :event, "Art der Veranstaltung" %><br/>
        <%= text_field_tag :event %>
      </div>
      <br/>
      <div>
      <%= label_tag :datetime, "Datum und Uhrzeit des Besuchs" %><br/>
      <%= text_field_tag :datetime %>
      </div>
      <br/>
      <div>
      <%= label_tag :email, "Deine E-Mail-Adresse" %><br/>
      <%= text_field_tag :email %>
      </div>
      <br/>
      <div>
      <%= label_tag :message, "Nachricht an dein Role Model"%><br/>
      <%= text_area_tag(:message, "Hallo #{@user.name},\r\nmein Name ist [DEIN NAME HIER] und ich bin Lehrer/in am/an der [DEINE SCHULE HIER]. Ich habe Ihr Profil auf Rent a Role Model gefunden, da ich auf der Suche nach einigen Vorbildern für meine Schüler bin.\r\nWären Sie interessiert daran, meine Schüler zu treffen, ihnen von Ihrer Karriere und Ihrem Beruf zu erzählen und ihnen Ratschläge zum Thema Karriere zu geben?\r\nIch bin mir sicher, dass sie Ihre Zeit und diese Möglichkeit der Berufsfindung wertschätzen.\r\nAm [DATUM HIER] um [UHRZEIT HIER] würde ich Sie gerne zu [BEZEICHNUNG DER VERANSTALTUNG HIER] an unserer Schule begrüßen dürfen. Falls Ihnen der Termin nicht passen sollte, können wir einen anderen vereinbaren.\r\nKontaktieren Sie mich gerne bei jeglichen Fragen.\r\nIch freue mich auf eine Antwort von Ihnen.\r\n\r\nMit freundlichen Grüßen,\r\n[DEIN NAME HIER]", size: "60x10") %>
      </div>
      <br/>
      <div>
        <%= submit_tag("Senden") %>
      </div>
      <% end -%>
</div>
