<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Kurzprofil</h2>
    <p>
      Name des Lehrers: <%= @name %><br/>
      Schule: <%= @school %><br/>
      Art der Veranstaltung: <%= @event %><br/>
      Datum und Uhrzeit: <%= @datetime %><br/>
      E-Mail: <%= @email %><br/>
    </p>
    <h2>Original-Nachricht</h2>
    <p>
      <%= @message %>
    </p>
  </body>
</html>