<!DOCTYPE html>
<html>
<head>
  <title>RentARoleModel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-inverse" id="blue-nav">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Rent a Role Model", root_path, class: "navbar-brand" %>
        </li>

        <li>
          <%= link_to "Ich bin ein Role Model", home_role_model_path %>
        </li>

        <li>
          <%= link_to "Berlin", users_path(city: "Berlin") %>
        </li>

        <li>
          <%= link_to "Hamburg", users_path(city: "Hamburg") %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<%= yield %>

<footer class="navbar navbar-inverse navbar-fixed-bottom" id="foot-nav">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Über Uns", about_path %>
        </li>
      </ul>
    </nav>
  </div>
</footer>

</body>
</html>
